linux64Gcc*

*.mod
*.o

lnInclude
referece

outputs
.vscode

processor*

Predictor-Core/third_party/eigen*
Predictor-Core/third_party/TF_libs
Predictor-Core/third_party/libtensorflow*

0.*
postProcessing
Logs
Results

aesurf.dat
cfl3d.error
cfl3d.out20
cfl3d.subit_res
ovrlp.bin
plot3dq.bin
cfl3d.alpha
cfl3d.prout
cfl3d.subit_turres
patch.bin
plot3dq.q
cfl3d.blomax
cfl3d.out
cfl3d.res
cfl3d.turres
plot3dg.bin
precfl3d.out
splitter.error
cfl3d.dynamic_patch
cfl3d.out15
genforce.dat
plot3dg.g
restart.bin
fort.11
tempz3y2x1.inp

Ndy
nut_ML*
nut_RANS
Q1*
Q2*
Q3*
Q4*
Q5*
Q6*
Q7*
Q8*
Q9*
triS2
R_Weight_