linux64Gcc*

*.mod
*.o

lnInclude
referece

outputs
.vscode



Predictor-Core/third_party/eigen*
Predictor-Core/third_party/TF_libs
Predictor-Core/third_party/libtensorflow*




!*.F
!*.F90
!*.h
!*.C
!*.cpp
